//color
$color-white:#fff;
$color-default:#333;
$color-blue-btn:#41aa92;
$color-color94:#949494;
$color-color3a:#aaa;
$color-colora1:#a1a1a1;
$color-text-blue:#41aa92;
$color-text-blue5b:#41aa92;
$color-text-colorf90:#ff9900;
$color-text-colorf60:#ff6600;
$color-text-colorf30:#ff3300;
$color-text-colorf00:#ff0000;
$color-color3c:#ccc;
$color-color35:#555;
$color-red000: #d40000;
$color-redc00:#cc0000;
$color-blue-text:#41aa92;
$color-blue09f:#41aa92;


//size
$size-5:5px;
$size-10:10px;
$size-15:15px;
$size-20:20px;
$size-25:25px;
$size-30:30px;
$size-35:35px;
$size-40:40px;

